{% extends 'layout.twig' %}

{% block content %}
<div class="row">
<div class="3u -1u 12u(mobile) 6u(tablet) -1u(tablet)">
     <div>
	<section>
		<header>
		<img src="{{ asset }}css/images/background.png" width="100%" class="img-circle">
		<h2 style="padding-top: 20px;">{{ user.nom }} {{ user.prenom }}</h2>
		</header>
		<p style="text-align: center; padding-top: 20px;">{{ user.description }}</p>
		<footer>
		<p>Here is a place where we could hold for more options</p>
		</footer>
	</section>
    </div>
    <div class="topMargin">
    <section>
        Ici on pourrais mettre les demandes d'amis ?
    </section>
    </div>
</div>
<div class=" 7u 8u(mobile) -2u(mobile) 6u(tablet) -1u(tablet)">
	<section>
	<form action"" method="POST" id="postMessage">
	      <div id="pageId" style="display:none;">{{user.id}}</div>
	      <label for="comment">Postez un message sur mon mur :</label>
	      <input type="text" name="comment" id="message">
	      <button type="submit">Poster</button>
	</form>
	{% for message in wall %}
			<div class="topMargin">
				<header>
				<a href="{{ root }}profil/display/{{message.message.id_utilisateur}}">
				<h3>What happen's recently ?</h3>
				</a>
				</header>
				<div class="row">
		     		<div class="10u -1u 10u(mobile) -1u(mobile) 10u(tablet) -1u(tablet)">
		     			<p>{{ message.user.prenom }} {{ message.user.nom }} à dit :</p>
						<p>{{ message.message.message }}</p>
		     		</div>
				</div>
				<div class="row">
					<div class="4u -4u 4u(mobile) -4u(mobile) 4u(tablet) -4u(tablet)">
		          		<div class="footer">What about the hour here ?</div>
		     		</div>
				</div>
			</div>
		{% endfor %}
	</section>
</div>
</div>
<div class="padding"></div>
{% endblock %}